.addBlog {
    margin-top: 80px !important;
}
.item {
    overflow: hidden;
    cursor: pointer;
    img {
        width: 100%;
        max-height: 12rem;
        min-height: 12rem;
        object-fit: cover;

        &:hover {
            transition: transform 0.5s ease-in-out;
            transform: scale(1.1);
            /* phóng to ảnh 120% khi hover */
        }
    }

    .card-info {
        &:hover {
            background-color: #98f58a;
            transition: all 1s ease 0s;
        }

        h5 {
            &:hover {
                color: red;
            }
        }

    }
}
